# IMPORT MULTIPLE FILES INTO ORACLE DB

CONNECTION TO ORACLE AND IMPORT REQUIRE LIBRARIES

In [2]:
import pandas as pd
import glob
import os
import cx_Oracle
from cx_Oracle import DatabaseError
dsn_tns = cx_Oracle.makedsn(' Hostname ', ' Port ', service_name=' Service Name ')
con = cx_Oracle.connect(user='Username', password='Password', dsn=dsn_tns)

print("conected to oracle db")


cursor = conn.cursor()

cursor.execute("""ALTER SESSION SET NLS_DATE_FORMAT = 'DD-MM-YYYY HH24:MI:SS'
                                    NLS_LANGUAGE = AMERICAN""")

print('You are connected: ')

conected to oracle db
You are connected:

DROP EXISTING TABLE IN ORACLE DB

In [3]:
q="""Drop table XTEMP_STOCK_DESPATCH"""
cursor.execute(q)
conn.commit()

print('Temporary table dropped!!! ')

Temporary table dropped!!!

CREATE NEW TABLE IN ORACLE DB

In [4]:
q="""CREATE TABLE XTEMP_STOCK_DESPATCH
           (   ID VARCHAR2(20 CHAR)
               , ITEM_ID VARCHAR2(20 CHAR)
               , SKU VARCHAR2(20 CHAR)
               , ORDER_NO VARCHAR2(20 CHAR)
               , PHYSICAL_STOCK_ID VARCHAR2(20 CHAR)
               , ROUTING_BARCODE VARCHAR2(50 CHAR)
               , QTY NUMBER
               , SHIPMENT_ID VARCHAR2(20 CHAR))"""
cursor.execute(q)
conn.commit()

print('Temporary table created!!! ')

Temporary table created!!!

IMPORT MULTIPLE FILES INTO DATAFRAME

In [5]:
csv_file = 'W://Tushar//Access_db_exports//tbl_StockDespatch_{:02d}.txt'
file_list = [csv_file.format(n) for n in range(1,5)]  
file_list

['W://PlanningAndMI//MI//020 DEVELOPMENT & TOOLS//Tushar//Access_db_exports//tbl_StockDespatch_01.txt',
 'W://PlanningAndMI//MI//020 DEVELOPMENT & TOOLS//Tushar//Access_db_exports//tbl_StockDespatch_02.txt',
 'W://PlanningAndMI//MI//020 DEVELOPMENT & TOOLS//Tushar//Access_db_exports//tbl_StockDespatch_03.txt',
 'W://PlanningAndMI//MI//020 DEVELOPMENT & TOOLS//Tushar//Access_db_exports//tbl_StockDespatch_04.txt']

IMPORT MULTIPLE FILES DATA INTO DATAFRAME

In [6]:
import pandas as pd
df_from_each_file = (pd.read_csv(f) for f in file_list)
csv_data   = pd.concat(df_from_each_file, ignore_index=True)
csv_data.head()
csv_data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16171158 entries, 0 to 16171157
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   ID                 int64
 1   ITEM_ID            int64
 2   SKU                int64
 3   ORDER_NO           int64
 4   PHYSICAL_STOCK_ID  int64
 5   ROUTING_BARCODE    object
 6   Qty                int64
 7   SHIPMENT_ID        int64
dtypes: int64(7), object(1)
memory usage: 2.1 GB

CHECK THE DATAFRAME

In [7]:
csv_data

,ID,ITEM_ID,SKU,ORDER_NO,PHYSICAL_STOCK_ID,ROUTING_BARCODE,Qty,SHIPMENT_ID
0,213709857,3029780,60447682006,5267319584,395325286,45214138_20220928164231,1,749930
1,213709858,3291505,60493957006,5268904159,398009489,45320757_20220928164231,1,749930
2,213709859,2534379,60201875005,5262420165,382521501,45597825_20220928164231,3,749930
3,213709860,3129251,60474387006,5268922063,398009748,45320761_20220928164231,1,749930
4,213709861,3077019,60457452001,5285486779,435472834,45865434_20220928164231,7,749930
...,...,...,...,...,...,...,...,...
16171153,208749603,3523898,60533429003,5255830126,451229905,7014784308_20220827235844,1,857948
16171154,208749604,3570681,60537157005,5255825534,451229931,7014784322_20220827235844,1,857948
16171155,208749605,3570679,60537157003,5255832438,451230045,7014784995_20220827235844,1,857948
16171156,208749606,3651829,60545699001,5255830679,451229940,7014784391_20220827235844,1,857948
16171157,208749568,3685611,60548871005,5255837996,451230071,7014785992_20220827235437,1,857951

CHANGE DATATYPE

In [9]:
data = []
#csv_data['Timestamp']= pd.to_datetime(csv_data['Timestamp']).dt.strftime('%d-%m-%Y %H:%M:%S')
csv_data = csv_data.astype({'ID':str
                            , 'ITEM_ID':str
                            , 'SKU':str
                            , 'ORDER_NO':str
                            , 'PHYSICAL_STOCK_ID':str
                            , 'ROUTING_BARCODE':str
                            , 'Qty':int
                            , 'SHIPMENT_ID':str})
#csv_data['Creation Time']=pd.to_datetime(csv_data['Creation Time']).dt.strftime('%d-%m-%Y %H:%M:%S')
print('Inserted data into dataframe....')

Inserted data into dataframe....

CHECK THE DATAFRAME

In [10]:
csv_data

,ID,ITEM_ID,SKU,ORDER_NO,PHYSICAL_STOCK_ID,ROUTING_BARCODE,Qty,SHIPMENT_ID
0,213709857,3029780,60447682006,5267319584,395325286,45214138_20220928164231,1,749930
1,213709858,3291505,60493957006,5268904159,398009489,45320757_20220928164231,1,749930
2,213709859,2534379,60201875005,5262420165,382521501,45597825_20220928164231,3,749930
3,213709860,3129251,60474387006,5268922063,398009748,45320761_20220928164231,1,749930
4,213709861,3077019,60457452001,5285486779,435472834,45865434_20220928164231,7,749930
...,...,...,...,...,...,...,...,...
16171153,208749603,3523898,60533429003,5255830126,451229905,7014784308_20220827235844,1,857948
16171154,208749604,3570681,60537157005,5255825534,451229931,7014784322_20220827235844,1,857948
16171155,208749605,3570679,60537157003,5255832438,451230045,7014784995_20220827235844,1,857948
16171156,208749606,3651829,60545699001,5255830679,451229940,7014784391_20220827235844,1,857948
16171157,208749568,3685611,60548871005,5255837996,451230071,7014785992_20220827235437,1,857951

IMPORT DATAFRAME INTO ORACLE DB TABLE

In [11]:
print('Inserting data into table....')

batch_size= 4042789.5
            

for i,line in csv_data.iterrows():
    sql="""insert into XTEMP_STOCK_DESPATCH (   ID
                                               , ITEM_ID
                                               , SKU
                                               , ORDER_NO
                                               , PHYSICAL_STOCK_ID
                                               , ROUTING_BARCODE
                                               , QTY
                                               , SHIPMENT_ID
                                             ) 
            values (:0,:1,:2,:3,:04,:05,:06,:07)"""
    data.append((line[0],line[1],line[2],line[3],line[4],line[5],line[6],line[7]))
    if len(data) % batch_size == 0:
        cursor.executemany(sql, data)
        data = []        
    
        # the connection is not autocommitted by default, so we must commit to save our changes
        
#     if data:
#         cursor.executemany(sql, data)
        conn.commit()

print('data loaded into the table successfully!!!')

Inserting data into table....
data loaded into the table successfully!!!